In [1]:
# Pandas

# pip install pandas

import pandas as pd

In [2]:
data = {"Name":["john","Peter","Lisa"],
        "Age":[25,28,31],
        "Salary":[300000, 45000, 25000]
       }
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   john   25  300000
1  Peter   28   45000
2   Lisa   31   25000

In [3]:
# Read a csv file
data = pd.read_csv("dummy_company_data.csv")
print(data)

                 Company Name            Industry  Revenue (USD)  Employees  \
0               Fusion Labs 1  Telecommunications   4.412037e+09      31818
1        GoldLeaf Financial 2           Logistics   5.654898e+09      24981
2            Harmony Health 3  Telecommunications   3.463993e+07      53618
3      Streamline Logistics 4          Healthcare   3.158112e+09      48705
4           Dynamic Systems 5           Logistics   9.901479e+09      47564
..                        ...                 ...            ...        ...
95          Infinite Reach 96         Hospitality   9.913543e+09       2923
96          Harmony Health 97           Education   6.784546e+09      39799
97       Nexus Innovations 98           Logistics   6.806026e+09      64756
98   Evergreen Enterprises 99           Logistics   6.001910e+09      97623
99  Evergreen Enterprises 100              Energy   2.558216e+09       2511

             City State  Founded Year
0         Chicago    TX          1999
1          Mumbai    AU          1974
2        New York    NY          1962
3         Atlanta    TX          1986
4         Seattle    MA          2022
..            ...   ...           ...
95          Miami    FR          2009
96          Dubai    TX          1980
97        Seattle    TX          2013
98  San Francisco    MA          1958
99        Atlanta    AE          1991

[100 rows x 7 columns]

In [4]:
# to open excel file in pandas ( pip install openpxyl )

data = pd.read_excel("dummy_company_data.xlsx")
print(data)

              Company Name            Industry  Revenue (USD)  Employees  \
0    Tech Solutions Inc. 1           Logistics   7.012866e+09      63330
1      Pinnacle Ventures 2  Telecommunications   4.057722e+09      11865
2      Nexus Innovations 3           Logistics   3.508134e+09      24612
3             Alpha Corp 4         Hospitality   1.038657e+09      18700
4             Alpha Corp 5          Consulting   5.513866e+08      67206
..                     ...                 ...            ...        ...
95  Tech Solutions Inc. 96           Education   4.723566e+09      60766
96       Infinite Reach 97  Telecommunications   7.443903e+09      27429
97  Tech Solutions Inc. 98           Logistics   7.855107e+09      32061
98      Zenith Holdings 99              Retail   5.627981e+09      73008
99         Fusion Labs 100              Retail   2.567418e+09      42754

           City State  Founded Year
0        Denver    CA          1973
1        Denver    CA          1979
2        London    FL          1990
3   Los Angeles    FR          2018
4       Chicago    UK          2023
..          ...   ...           ...
95        Miami    GA          2008
96       Boston    UK          1950
97       Mumbai    FR          2010
98      Atlanta    FL          1952
99       Berlin    OR          1977

[100 rows x 7 columns]