In [1]:
import pandas as pd

data = pd.read_excel("dummy_company_data.xlsx")
print(data)

              Company Name            Industry  Revenue (USD)  Employees  \
0    Tech Solutions Inc. 1           Logistics   7.012866e+09      63330
1      Pinnacle Ventures 2  Telecommunications   4.057722e+09      11865
2      Nexus Innovations 3           Logistics   3.508134e+09      24612
3             Alpha Corp 4         Hospitality   1.038657e+09      18700
4             Alpha Corp 5          Consulting   5.513866e+08      67206
..                     ...                 ...            ...        ...
95  Tech Solutions Inc. 96           Education   4.723566e+09      60766
96       Infinite Reach 97  Telecommunications   7.443903e+09      27429
97  Tech Solutions Inc. 98           Logistics   7.855107e+09      32061
98      Zenith Holdings 99              Retail   5.627981e+09      73008
99         Fusion Labs 100              Retail   2.567418e+09      42754

           City State  Founded Year
0        Denver    CA          1973
1        Denver    CA          1979
2        London    FL          1990
3   Los Angeles    FR          2018
4       Chicago    UK          2023
..          ...   ...           ...
95        Miami    GA          2008
96       Boston    UK          1950
97       Mumbai    FR          2010
98      Atlanta    FL          1952
99       Berlin    OR          1977

[100 rows x 7 columns]

In [11]:
print(data["Industry"].duplicated())

0     False
1     False
2      True
3     False
4     False
      ...
95     True
96     True
97     True
98     True
99     True
Name: Industry, Length: 100, dtype: bool

In [13]:
print(data["Industry"].duplicated().sum())

86

In [17]:
# To delete the duplicate rows in the column

print(data.drop_duplicates("Industry"))  # drop anything yet is not good as at some point we have to fill so ,  data needs more cleaning

                 Company Name            Industry  Revenue (USD)  Employees  \
0       Tech Solutions Inc. 1           Logistics   7.012866e+09      63330
1         Pinnacle Ventures 2  Telecommunications   4.057722e+09      11865
3                Alpha Corp 4         Hospitality   1.038657e+09      18700
4                Alpha Corp 5          Consulting   5.513866e+08      67206
6          BlueSky Software 7           Aerospace   4.865755e+09      63821
7   Global Innovations Ltd. 8          Automotive   8.850976e+09      19086
8            Visionary Tech 9              Retail   5.755476e+09      29576
10     Tech Solutions Inc. 11          Healthcare   9.227905e+08      35311
13          Harmony Health 14          Technology   5.248160e+09      81925
14   Evergreen Enterprises 15       Biotechnology   7.062190e+09      36323
15         Zenith Holdings 16       Manufacturing   1.952187e+09      76987
16   Precision Engineering 17           Education   6.175658e+09      27440
17         BrightSpark Co. 18              Energy   8.982146e+09       2338
20          Infinite Reach 21             Finance   3.678602e+09      19356

           City State  Founded Year
0        Denver    CA          1973
1        Denver    CA          1979
3   Los Angeles    FR          2018
4       Chicago    UK          2023
6       Seattle    CA          2009
7        Austin    AE          2012
8        Dallas    WA          1957
10     New York    MA          2009
13       Sydney    NY          2005
14       Dallas    DE          1987
15     New York    UK          1955
16        Miami    JP          1966
17       Berlin    CO          1976
20  Los Angeles    WA          1960