In [52]:
import pandas as pd

data = pd.read_excel("dummy_company_data.xlsx")
print(data)

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace            NaN      74965
1        Tech Solutions Inc. 2           Aerospace   8.661980e+09      11234
2          Quantum Analytics 3           Aerospace   9.970827e+09      25549
3            Dynamic Systems 4  Telecommunications   5.834267e+09      90686
4            Dynamic Systems 5       Biotechnology            NaN       4485
5            Dynamic Systems 6                 NaN   5.925562e+09      40712
6                 Alpha Corp 7                 NaN   1.514421e+09      31358
7            Dynamic Systems 8                 NaN            NaN      55684
8          Pinnacle Ventures 9                 NaN   2.149816e+09      35161
9     Evergreen Enterprises 10           Aerospace   5.442955e+09      37731
10    Evergreen Enterprises 11          Automotive   3.338997e+09      21086
11          Dynamic Systems 12       Biotechnology            NaN      12477
12        Pinnacle Ventures 13                 NaN   1.510194e+09      66620
13        Pinnacle Ventures 14       Biotechnology   9.919445e+08      84290
14        Quantum Analytics 15           Aerospace   2.398626e+09      91031
15  Global Innovations Ltd. 16           Aerospace            NaN      30262
16  Global Innovations Ltd. 17          Automotive   8.367965e+09      97530
17    Evergreen Enterprises 18           Aerospace   9.383701e+09      30679
18               Alpha Corp 19          Automotive   7.211204e+09       8961
19      Tech Solutions Inc. 20  Telecommunications            NaN      25433

      City State  Founded Year
0    Dubai    JP        2018.0
1    Dubai    DE        1991.0
2    Tokyo    UK        1951.0
3   Sydney    UK           NaN
4      NaN    UK        1990.0
5    Paris    DE        1982.0
6   London    DE        1963.0
7   Mumbai    IN           NaN
8   Berlin   NaN        2008.0
9      NaN    AU        2006.0
10   Tokyo    AE        1990.0
11  Berlin    FR           NaN
12     NaN    UK        2007.0
13   Paris    AE        2021.0
14  Sydney   NaN        2019.0
15  Berlin    AU        2006.0
16  Mumbai    UK           NaN
17   Paris    FR        1981.0
18  Sydney    DE        2010.0
19   Dubai    AU        1953.0

In [53]:
print(data.isnull().sum())

Company Name     0
Industry         5
Revenue (USD)    6
Employees        0
City             3
State            2
Founded Year     4
dtype: int64

In [54]:
print(data.dropna())

                Company Name       Industry  Revenue (USD)  Employees    City  \
1      Tech Solutions Inc. 2      Aerospace   8.661980e+09      11234   Dubai
2        Quantum Analytics 3      Aerospace   9.970827e+09      25549   Tokyo
10  Evergreen Enterprises 11     Automotive   3.338997e+09      21086   Tokyo
13      Pinnacle Ventures 14  Biotechnology   9.919445e+08      84290   Paris
17  Evergreen Enterprises 18      Aerospace   9.383701e+09      30679   Paris
18             Alpha Corp 19     Automotive   7.211204e+09       8961  Sydney

   State  Founded Year
1     DE        1991.0
2     UK        1951.0
10    AE        1990.0
13    AE        2021.0
17    FR        1981.0
18    DE        2010.0

In [55]:
print(data)

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace            NaN      74965
1        Tech Solutions Inc. 2           Aerospace   8.661980e+09      11234
2          Quantum Analytics 3           Aerospace   9.970827e+09      25549
3            Dynamic Systems 4  Telecommunications   5.834267e+09      90686
4            Dynamic Systems 5       Biotechnology            NaN       4485
5            Dynamic Systems 6                 NaN   5.925562e+09      40712
6                 Alpha Corp 7                 NaN   1.514421e+09      31358
7            Dynamic Systems 8                 NaN            NaN      55684
8          Pinnacle Ventures 9                 NaN   2.149816e+09      35161
9     Evergreen Enterprises 10           Aerospace   5.442955e+09      37731
10    Evergreen Enterprises 11          Automotive   3.338997e+09      21086
11          Dynamic Systems 12       Biotechnology            NaN      12477
12        Pinnacle Ventures 13                 NaN   1.510194e+09      66620
13        Pinnacle Ventures 14       Biotechnology   9.919445e+08      84290
14        Quantum Analytics 15           Aerospace   2.398626e+09      91031
15  Global Innovations Ltd. 16           Aerospace            NaN      30262
16  Global Innovations Ltd. 17          Automotive   8.367965e+09      97530
17    Evergreen Enterprises 18           Aerospace   9.383701e+09      30679
18               Alpha Corp 19          Automotive   7.211204e+09       8961
19      Tech Solutions Inc. 20  Telecommunications            NaN      25433

      City State  Founded Year
0    Dubai    JP        2018.0
1    Dubai    DE        1991.0
2    Tokyo    UK        1951.0
3   Sydney    UK           NaN
4      NaN    UK        1990.0
5    Paris    DE        1982.0
6   London    DE        1963.0
7   Mumbai    IN           NaN
8   Berlin   NaN        2008.0
9      NaN    AU        2006.0
10   Tokyo    AE        1990.0
11  Berlin    FR           NaN
12     NaN    UK        2007.0
13   Paris    AE        2021.0
14  Sydney   NaN        2019.0
15  Berlin    AU        2006.0
16  Mumbai    UK           NaN
17   Paris    FR        1981.0
18  Sydney    DE        2010.0
19   Dubai    AU        1953.0

In [56]:
import numpy as np
print(data.replace(np.nan,"hi")) #but all nan value needs different data type as in emplyees count and industry name has

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace             hi      74965
1        Tech Solutions Inc. 2           Aerospace   8661979835.4      11234
2          Quantum Analytics 3           Aerospace  9970827093.17      25549
3            Dynamic Systems 4  Telecommunications  5834267201.15      90686
4            Dynamic Systems 5       Biotechnology             hi       4485
5            Dynamic Systems 6                  hi   5925562172.0      40712
6                 Alpha Corp 7                  hi  1514421475.94      31358
7            Dynamic Systems 8                  hi             hi      55684
8          Pinnacle Ventures 9                  hi  2149815958.65      35161
9     Evergreen Enterprises 10           Aerospace  5442955196.58      37731
10    Evergreen Enterprises 11          Automotive  3338996978.18      21086
11          Dynamic Systems 12       Biotechnology             hi      12477
12        Pinnacle Ventures 13                  hi  1510194433.17      66620
13        Pinnacle Ventures 14       Biotechnology   991944453.47      84290
14        Quantum Analytics 15           Aerospace  2398625735.17      91031
15  Global Innovations Ltd. 16           Aerospace             hi      30262
16  Global Innovations Ltd. 17          Automotive   8367965269.8      97530
17    Evergreen Enterprises 18           Aerospace  9383701164.59      30679
18               Alpha Corp 19          Automotive  7211204002.23       8961
19      Tech Solutions Inc. 20  Telecommunications             hi      25433

      City State Founded Year
0    Dubai    JP       2018.0
1    Dubai    DE       1991.0
2    Tokyo    UK       1951.0
3   Sydney    UK           hi
4       hi    UK       1990.0
5    Paris    DE       1982.0
6   London    DE       1963.0
7   Mumbai    IN           hi
8   Berlin    hi       2008.0
9       hi    AU       2006.0
10   Tokyo    AE       1990.0
11  Berlin    FR           hi
12      hi    UK       2007.0
13   Paris    AE       2021.0
14  Sydney    hi       2019.0
15  Berlin    AU       2006.0
16  Mumbai    UK           hi
17   Paris    FR       1981.0
18  Sydney    DE       2010.0
19   Dubai    AU       1953.0

In [57]:
data["Industry"] = data["Industry"].replace(np.nan,"Unknown Industry")
print(data)

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace            NaN      74965
1        Tech Solutions Inc. 2           Aerospace   8.661980e+09      11234
2          Quantum Analytics 3           Aerospace   9.970827e+09      25549
3            Dynamic Systems 4  Telecommunications   5.834267e+09      90686
4            Dynamic Systems 5       Biotechnology            NaN       4485
5            Dynamic Systems 6    Unknown Industry   5.925562e+09      40712
6                 Alpha Corp 7    Unknown Industry   1.514421e+09      31358
7            Dynamic Systems 8    Unknown Industry            NaN      55684
8          Pinnacle Ventures 9    Unknown Industry   2.149816e+09      35161
9     Evergreen Enterprises 10           Aerospace   5.442955e+09      37731
10    Evergreen Enterprises 11          Automotive   3.338997e+09      21086
11          Dynamic Systems 12       Biotechnology            NaN      12477
12        Pinnacle Ventures 13    Unknown Industry   1.510194e+09      66620
13        Pinnacle Ventures 14       Biotechnology   9.919445e+08      84290
14        Quantum Analytics 15           Aerospace   2.398626e+09      91031
15  Global Innovations Ltd. 16           Aerospace            NaN      30262
16  Global Innovations Ltd. 17          Automotive   8.367965e+09      97530
17    Evergreen Enterprises 18           Aerospace   9.383701e+09      30679
18               Alpha Corp 19          Automotive   7.211204e+09       8961
19      Tech Solutions Inc. 20  Telecommunications            NaN      25433

      City State  Founded Year
0    Dubai    JP        2018.0
1    Dubai    DE        1991.0
2    Tokyo    UK        1951.0
3   Sydney    UK           NaN
4      NaN    UK        1990.0
5    Paris    DE        1982.0
6   London    DE        1963.0
7   Mumbai    IN           NaN
8   Berlin   NaN        2008.0
9      NaN    AU        2006.0
10   Tokyo    AE        1990.0
11  Berlin    FR           NaN
12     NaN    UK        2007.0
13   Paris    AE        2021.0
14  Sydney   NaN        2019.0
15  Berlin    AU        2006.0
16  Mumbai    UK           NaN
17   Paris    FR        1981.0
18  Sydney    DE        2010.0
19   Dubai    AU        1953.0

In [58]:
print(data.isnull().sum())

Company Name     0
Industry         0
Revenue (USD)    6
Employees        0
City             3
State            2
Founded Year     4
dtype: int64

In [59]:
# to fill the below value of nan into nan

print(data.bfill())

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace   8.661980e+09      74965
1        Tech Solutions Inc. 2           Aerospace   8.661980e+09      11234
2          Quantum Analytics 3           Aerospace   9.970827e+09      25549
3            Dynamic Systems 4  Telecommunications   5.834267e+09      90686
4            Dynamic Systems 5       Biotechnology   5.925562e+09       4485
5            Dynamic Systems 6    Unknown Industry   5.925562e+09      40712
6                 Alpha Corp 7    Unknown Industry   1.514421e+09      31358
7            Dynamic Systems 8    Unknown Industry   2.149816e+09      55684
8          Pinnacle Ventures 9    Unknown Industry   2.149816e+09      35161
9     Evergreen Enterprises 10           Aerospace   5.442955e+09      37731
10    Evergreen Enterprises 11          Automotive   3.338997e+09      21086
11          Dynamic Systems 12       Biotechnology   1.510194e+09      12477
12        Pinnacle Ventures 13    Unknown Industry   1.510194e+09      66620
13        Pinnacle Ventures 14       Biotechnology   9.919445e+08      84290
14        Quantum Analytics 15           Aerospace   2.398626e+09      91031
15  Global Innovations Ltd. 16           Aerospace   8.367965e+09      30262
16  Global Innovations Ltd. 17          Automotive   8.367965e+09      97530
17    Evergreen Enterprises 18           Aerospace   9.383701e+09      30679
18               Alpha Corp 19          Automotive   7.211204e+09       8961
19      Tech Solutions Inc. 20  Telecommunications            NaN      25433

      City State  Founded Year
0    Dubai    JP        2018.0
1    Dubai    DE        1991.0
2    Tokyo    UK        1951.0
3   Sydney    UK        1990.0
4    Paris    UK        1990.0
5    Paris    DE        1982.0
6   London    DE        1963.0
7   Mumbai    IN        2008.0
8   Berlin    AU        2008.0
9    Tokyo    AU        2006.0
10   Tokyo    AE        1990.0
11  Berlin    FR        2007.0
12   Paris    UK        2007.0
13   Paris    AE        2021.0
14  Sydney    AU        2019.0
15  Berlin    AU        2006.0
16  Mumbai    UK        1981.0
17   Paris    FR        1981.0
18  Sydney    DE        2010.0
19   Dubai    AU        1953.0

In [60]:
#  to fill the above value of nan into nan

print(data.ffill())

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace            NaN      74965
1        Tech Solutions Inc. 2           Aerospace   8.661980e+09      11234
2          Quantum Analytics 3           Aerospace   9.970827e+09      25549
3            Dynamic Systems 4  Telecommunications   5.834267e+09      90686
4            Dynamic Systems 5       Biotechnology   5.834267e+09       4485
5            Dynamic Systems 6    Unknown Industry   5.925562e+09      40712
6                 Alpha Corp 7    Unknown Industry   1.514421e+09      31358
7            Dynamic Systems 8    Unknown Industry   1.514421e+09      55684
8          Pinnacle Ventures 9    Unknown Industry   2.149816e+09      35161
9     Evergreen Enterprises 10           Aerospace   5.442955e+09      37731
10    Evergreen Enterprises 11          Automotive   3.338997e+09      21086
11          Dynamic Systems 12       Biotechnology   3.338997e+09      12477
12        Pinnacle Ventures 13    Unknown Industry   1.510194e+09      66620
13        Pinnacle Ventures 14       Biotechnology   9.919445e+08      84290
14        Quantum Analytics 15           Aerospace   2.398626e+09      91031
15  Global Innovations Ltd. 16           Aerospace   2.398626e+09      30262
16  Global Innovations Ltd. 17          Automotive   8.367965e+09      97530
17    Evergreen Enterprises 18           Aerospace   9.383701e+09      30679
18               Alpha Corp 19          Automotive   7.211204e+09       8961
19      Tech Solutions Inc. 20  Telecommunications   7.211204e+09      25433

      City State  Founded Year
0    Dubai    JP        2018.0
1    Dubai    DE        1991.0
2    Tokyo    UK        1951.0
3   Sydney    UK        1951.0
4   Sydney    UK        1990.0
5    Paris    DE        1982.0
6   London    DE        1963.0
7   Mumbai    IN        1963.0
8   Berlin    IN        2008.0
9   Berlin    AU        2006.0
10   Tokyo    AE        1990.0
11  Berlin    FR        1990.0
12  Berlin    UK        2007.0
13   Paris    AE        2021.0
14  Sydney    AE        2019.0
15  Berlin    AU        2006.0
16  Mumbai    UK        2006.0
17   Paris    FR        1981.0
18  Sydney    DE        2010.0
19   Dubai    AU        1953.0

In [61]:
print(data.fillna("hi"))

                  Company Name            Industry  Revenue (USD)  Employees  \
0      Evergreen Enterprises 1           Aerospace             hi      74965
1        Tech Solutions Inc. 2           Aerospace   8661979835.4      11234
2          Quantum Analytics 3           Aerospace  9970827093.17      25549
3            Dynamic Systems 4  Telecommunications  5834267201.15      90686
4            Dynamic Systems 5       Biotechnology             hi       4485
5            Dynamic Systems 6    Unknown Industry   5925562172.0      40712
6                 Alpha Corp 7    Unknown Industry  1514421475.94      31358
7            Dynamic Systems 8    Unknown Industry             hi      55684
8          Pinnacle Ventures 9    Unknown Industry  2149815958.65      35161
9     Evergreen Enterprises 10           Aerospace  5442955196.58      37731
10    Evergreen Enterprises 11          Automotive  3338996978.18      21086
11          Dynamic Systems 12       Biotechnology             hi      12477
12        Pinnacle Ventures 13    Unknown Industry  1510194433.17      66620
13        Pinnacle Ventures 14       Biotechnology   991944453.47      84290
14        Quantum Analytics 15           Aerospace  2398625735.17      91031
15  Global Innovations Ltd. 16           Aerospace             hi      30262
16  Global Innovations Ltd. 17          Automotive   8367965269.8      97530
17    Evergreen Enterprises 18           Aerospace  9383701164.59      30679
18               Alpha Corp 19          Automotive  7211204002.23       8961
19      Tech Solutions Inc. 20  Telecommunications             hi      25433

      City State Founded Year
0    Dubai    JP       2018.0
1    Dubai    DE       1991.0
2    Tokyo    UK       1951.0
3   Sydney    UK           hi
4       hi    UK       1990.0
5    Paris    DE       1982.0
6   London    DE       1963.0
7   Mumbai    IN           hi
8   Berlin    hi       2008.0
9       hi    AU       2006.0
10   Tokyo    AE       1990.0
11  Berlin    FR           hi
12      hi    UK       2007.0
13   Paris    AE       2021.0
14  Sydney    hi       2019.0
15  Berlin    AU       2006.0
16  Mumbai    UK           hi
17   Paris    FR       1981.0
18  Sydney    DE       2010.0
19   Dubai    AU       1953.0

In [66]:
# in case of numeric value take the mean then fill it into the cells
data["Revenue (USD)"] = data["Revenue (USD)"].replace(np.nan, data["Revenue (USD)"].mean())
print(data["Revenue (USD)"])

0     5.193033e+09
1     8.661980e+09
2     9.970827e+09
3     5.834267e+09
4     5.193033e+09
5     5.925562e+09
6     1.514421e+09
7     5.193033e+09
8     2.149816e+09
9     5.442955e+09
10    3.338997e+09
11    5.193033e+09
12    1.510194e+09
13    9.919445e+08
14    2.398626e+09
15    5.193033e+09
16    8.367965e+09
17    9.383701e+09
18    7.211204e+09
19    5.193033e+09
Name: Revenue (USD), dtype: float64