In [14]:
import pandas as pd

data = pd.read_csv("dummy_company_data.csv")
print(data)

                 Company Name            Industry  Revenue (USD)  Employees  \
0               Fusion Labs 1  Telecommunications   4.412037e+09      31818
1        GoldLeaf Financial 2           Logistics   5.654898e+09      24981
2            Harmony Health 3  Telecommunications   3.463993e+07      53618
3      Streamline Logistics 4          Healthcare   3.158112e+09      48705
4           Dynamic Systems 5           Logistics   9.901479e+09      47564
..                        ...                 ...            ...        ...
95          Infinite Reach 96         Hospitality   9.913543e+09       2923
96          Harmony Health 97           Education   6.784546e+09      39799
97       Nexus Innovations 98           Logistics   6.806026e+09      64756
98   Evergreen Enterprises 99           Logistics   6.001910e+09      97623
99  Evergreen Enterprises 100              Energy   2.558216e+09       2511

             City State  Founded Year
0         Chicago    TX          1999
1          Mumbai    AU          1974
2        New York    NY          1962
3         Atlanta    TX          1986
4         Seattle    MA          2022
..            ...   ...           ...
95          Miami    FR          2009
96          Dubai    TX          1980
97        Seattle    TX          2013
98  San Francisco    MA          1958
99        Atlanta    AE          1991

[100 rows x 7 columns]

In [19]:
gp = data.groupby(["Industry"]).agg({"Employees":"count"})
print(gp)

                    Employees
Industry
Aerospace                   3
Automotive                  3
Biotechnology               7
Consulting                  8
Education                   8
Energy                      5
Finance                     7
Healthcare                 10
Hospitality                11
Logistics                  10
Manufacturing               7
Retail                      9
Technology                  6
Telecommunications          6

In [22]:
gp1 = data.groupby(["City","Revenue (USD)"]).agg({"Employees":"mean"})
print(gp1)

                       Employees
City    Revenue (USD)
Atlanta 4.850150e+08     68195.0
        1.082262e+09       840.0
        2.558216e+09      2511.0
        3.158112e+09     48705.0
        4.577191e+09     59131.0
...                          ...
Tokyo   1.745459e+08     17226.0
        3.656932e+09     45588.0
        6.222195e+09     70231.0
        6.786427e+09     58996.0
        9.119617e+09     54197.0

[100 rows x 1 columns]