In [8]:
import pandas as pd

data = {"Emp Id": ["E01","E02","E03","E04","E05","E06"],
       "Names": ["Ram", "Sham", "Vasu" , "Ansar" , "Abhi", "Anant"],
       "Age" : [23,22,25,23,27,24]}

data2 = {"Emp Id": ["E01","E02","E09","E04","E07","E06"],
         "Salary": [45000,55000,23000,54000,47000,55000]}


df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data2)

print(df1)

  Emp Id  Names  Age
0    E01    Ram   23
1    E02   Sham   22
2    E03   Vasu   25
3    E04  Ansar   23
4    E05   Abhi   27
5    E06  Anant   24

In [9]:
print(df2)

  Emp Id  Salary
0    E01   45000
1    E02   55000
2    E09   23000
3    E04   54000
4    E07   47000
5    E06   55000

In [11]:
# Merge

print(pd.merge(df1,df2,on ="Emp Id" , how = "left"))

  Emp Id  Names  Age   Salary
0    E01    Ram   23  45000.0
1    E02   Sham   22  55000.0
2    E03   Vasu   25      NaN
3    E04  Ansar   23  54000.0
4    E05   Abhi   27      NaN
5    E06  Anant   24  55000.0

In [12]:
print(pd.merge(df1,df2,on ="Emp Id" , how = "right"))

  Emp Id  Names   Age  Salary
0    E01    Ram  23.0   45000
1    E02   Sham  22.0   55000
2    E09    NaN   NaN   23000
3    E04  Ansar  23.0   54000
4    E07    NaN   NaN   47000
5    E06  Anant  24.0   55000

In [16]:
data = {"Emp Id": ["E01","E02","E03","E04","E05","E06"],
       "Names": ["Ram", "Sham", "Vasu" , "Ansar" , "Abhi", "Anant"],
       "Age" : [23,22,25,23,27,24]}

data2 = {"Emp Id": ["E08","E09","E10","E11","E12","E13"],
       "Names": ["Ramlal", "Shamveer", "Vasuraj" , "Ansa" , "Abhishek", "Anantam"],
       "Age" : [23,22,25,23,27,24]}

df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data2)

In [17]:
print(pd.concat([df1,df2]))

  Emp Id     Names  Age
0    E01       Ram   23
1    E02      Sham   22
2    E03      Vasu   25
3    E04     Ansar   23
4    E05      Abhi   27
5    E06     Anant   24
0    E08    Ramlal   23
1    E09  Shamveer   22
2    E10   Vasuraj   25
3    E11      Ansa   23
4    E12  Abhishek   27
5    E13   Anantam   24