In [2]:
import pandas as pd

dict = {"Fruits":["mango","apples","banana","papaya"],
        "Price":[100,150,50,35],
        "Quantity":[15,10,10,3]}

df = pd.DataFrame(dict)
print(df)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     50        10
3  papaya     35         3

In [17]:
df2 = df.copy()
df2.loc[0,"Price"] = 120
df2.loc[1,"Price"] = 170
df2.loc[2,"Price"] = 70

df2.loc[0,"Quantity"] = 12
df2.loc[1,"Quantity"] = 9
df2.loc[2,"Quantity"] = 7

print(df2)

   Fruits  Price  Quantity
0   mango    120        12
1  apples    170         9
2  banana     70         7
3  papaya     35         3

In [18]:
df.compare(df2, align_axis=0)

         Price  Quantity
0 self   100.0      15.0
  other  120.0      12.0
1 self   150.0      10.0
  other  170.0       9.0
2 self    50.0      10.0
  other   70.0       7.0

In [19]:
df.compare(df2, keep_shape=True)

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  12.0
1    NaN   NaN  150.0  170.0     10.0   9.0
2    NaN   NaN   50.0   70.0     10.0   7.0
3    NaN   NaN    NaN    NaN      NaN   NaN