In [10]:
import pandas as pd

#Pivoting
dict = {"key": ["k1","k2","k1","k2"],
        "Names": ["John", "Ben", "David","Peter"],
        "House": ["red", "blue", "green","red"],
        "Grades":["3rd","8th","9th","8th"],
        }

df = pd.DataFrame(dict)
print(df)

  key  Names  House Grades
0  k1   John    red    3rd
1  k2    Ben   blue    8th
2  k1  David  green    9th
3  k2  Peter    red    8th

In [12]:
print(df.pivot(index="key",columns="Names", values=["House","Grades"]))

      House                   Grades
Names   Ben  David John Peter    Ben David John Peter
key
k1      NaN  green  red   NaN    NaN   9th  3rd   NaN
k2     blue    NaN  NaN   red    8th   NaN  NaN   8th

In [13]:
# Melting
dict = {
        "Names": ["John", "Ben", "David","Peter"],
        "House": ["red", "blue", "green","red"],
        "Grades":["3rd","8th","9th","8th"],
        }

df2 = pd.DataFrame(dict)
print(df2)

   Names  House Grades
0   John    red    3rd
1    Ben   blue    8th
2  David  green    9th
3  Peter    red    8th

In [17]:
print(pd.melt(df,id_vars=["Names"], value_vars=["House","Grades"], var_name="Houses&Grades", value_name="Values"))

   Names Houses&Grades Values
0   John         House    red
1    Ben         House   blue
2  David         House  green
3  Peter         House    red
4   John        Grades    3rd
5    Ben        Grades    8th
6  David        Grades    9th
7  Peter        Grades    8th